# Node / backend
node_modules
.env
.DS_Store
coverage/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# Flutter/Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/Flutter-*.xcconfig
ios/Flutter/AppFrameworkInfo.plist
ios/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/generated_*
windows/runner/*.o
windows/runner/*.obj

# Linux
linux/flutter/generated_*
linux/runner/*.o
linux/runner/*.obj

# macOS
macos/Flutter/Flutter-*.xcconfig
macos/Runner/GeneratedPluginRegistrant.*

# Other
app.*.symbols
app.*.map.json
